{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1>{{ posts|length }} Posts</h1>

    {% for post in posts %}
        <article>
            <header>
                <h2><a href="/posts/{{ post.id }}">{{ post.title }}</a></h2>
            </header>
            <p>{{ post.description|truncate(50, true) }}</p>
            <p>Le: {{ post.date|date }}</p>
        </article>
        <hr>
    {% endfor %}
{% endblock %}
